<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Chef de projet - Tableau de bord</title>

    <!-- Custom fonts for this template-->
    <link href="/assets/dashboard/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/assets/dashboard/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img class="rounded-circle" src="/assets/dashboard/img/cni.png" width="60" height="60" />

                </div>
                <div class="sidebar-brand-text mx-3"> {{loggedinUser.prenom}} {{loggedinUser.nom}} <sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tableau de bord</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">



            <!-- Nav Item - Charts -->

            <li class="nav-item">
                <a class="nav-link" href="finance.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Suivi Financier</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/marche">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Suivi de Marché</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/physique">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Suivi Physique</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/projets">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Projets</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
                    <div class="container d-flex justify-content-between align-items-center">
                        <a class="navbar-brand h1" href="index.html">
                            <i class='bx bx-buildings bx-sm text-dark'></i>
                            <span class="text-dark h4">CNI </span> <span class="text-primary h4">TUNISIE</span>
                        </a>
                        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                            id="navbar-toggler-success">
                            <div class="flex-fill mx-xl-3 mb-2">
                                <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-primary rounded-pill px-3"
                                            href="/menu">Accueil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="/projets">Les
                                            projets</a>
                                    </li>



                                    <li class="nav-item">
                                        <a class="nav-link btn-outline-primary rounded-pill px-3"
                                            (click)="deconnexion()">Déconnexion</a>
                                    </li>

                                </ul>
                            </div>

                            {{loggedinUser.prenom}} {{loggedinUser.nom}} <i class="fa fa-user" aria-hidden="true"></i>

                        </div>
                    </div>
                </nav>
                <div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"><strong>P</strong>lanificaion
                                <strong>P</strong>ysique
                            </h6>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <button type="button" (click)="open(contentPlanification)"
                                    class="btn btn-outline-success my-2 my-sm-0">
                                    <i class="fa fa-plus" aria-hidden="true"></i></button>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Ref projet </th>
                                            <th>Année</th>
                                            <th>Engagement</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tfoot>

                                    </tfoot>
                                    <tbody>
                                        <tr *ngFor="let projet of planificationProjets">
                                            <td>{{projet.ref}}</td>
                                            <td>{{projet.date_debut}}</td>
                                            <td>
                                                <button class="btn" (click)="addProgress($event,projet.ref!)"><i
                                                        class="fa fa-plus" aria-hidden="true"></i></button>
                                                <div class="progress">

                                                    <div class="progress-bar" role="progressbar"
                                                        [style.width]="projet.engagement+'%'" aria-valuemin="0"
                                                        aria-valuemax="100">{{projet.engagement}}%</div>
                                                </div>
                                                <button class="btn" (click)="decreaseProgress($event, projet.ref!)"><i
                                                        class="fa fa-minus" aria-hidden="true"></i></button>
                                            </td>
                                            <td> <button type="button" class="btn btn-outline-success my-2 my-sm-0">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                                                <button type="button" class="btn btn-outline-danger">
                                                    <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-outline-info">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col align-self-center">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">
                                <strong>A</strong>justement<strong>P</strong>hysique
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <button type="button" (click)="open(contentAjustement)"
                                    class="btn btn-outline-success my-2 my-sm-0">
                                    <i class="fa fa-plus" aria-hidden="true"></i></button>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Ref projet</th>
                                            <th>Année</th>
                                            <th>Engagement</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>

                                    </tfoot>
                                    <tbody>
                                        <tr *ngFor="let projet of ajustementProjets">
                                            <td>{{projet.ref}}</td>
                                            <td>{{projet.date_debut}}</td>
                                            <td>
                                                <button class="btn" (click)="addProgress($event,projet.ref!)"><i
                                                        class="fa fa-plus" aria-hidden="true"></i></button>
                                                <div class="progress">

                                                    <div class="progress-bar" role="progressbar"
                                                        [style.width]="projet.engagement+'%'" aria-valuemin="0"
                                                        aria-valuemax="100">{{projet.engagement}}%</div>
                                                </div>
                                                <button class="btn" (click)="decreaseProgress($event, projet.ref!)"><i
                                                        class="fa fa-minus" aria-hidden="true"></i></button>
                                            </td>
                                            <td> <button type="button" class="btn btn-outline-success my-2 my-sm-0">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                                                <button type="button" class="btn btn-outline-danger">
                                                    <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-outline-info">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>



                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col align-self-end">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"><strong>R</strong>éalisation
                                <strong>P</strong>hysique
                            </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <button type="button" (click)="open(contentRealisation)"
                                    class="btn btn-outline-success my-2 my-sm-0">
                                    <i class="fa fa-plus" aria-hidden="true"></i></button>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Ref projet</th>
                                            <th>Année</th>
                                            <th>Engagement</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>

                                    </tfoot>
                                    <tbody>
                                        <tr *ngFor="let projet of realisationProjets">
                                            <td>{{projet.ref}}</td>
                                            <td>{{projet.date_debut}}</td>
                                            <td>
                                                <button class="btn" (click)="addProgress($event,projet.ref!)"><i
                                                        class="fa fa-plus" aria-hidden="true"></i></button>
                                                <div class="progress">

                                                    <div class="progress-bar" role="progressbar"
                                                        [style.width]="projet.engagement+'%'" aria-valuemin="0"
                                                        aria-valuemax="100">{{projet.engagement}}%</div>
                                                </div>
                                                <button class="btn" (click)="decreaseProgress($event, projet.ref!)"><i
                                                        class="fa fa-minus" aria-hidden="true"></i></button>
                                            </td>
                                            <td> <button type="button" class="btn btn-outline-success my-2 my-sm-0">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>

                                                <button type="button" class="btn btn-outline-danger">
                                                    <i class="fa fa-trash" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-outline-info">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <ng-template #contentPlanification let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">
                            Ajouter planification Physique</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="">
                            <div class="wrap-input100 validate-input m-b-26" data-validate="prenom est requis">
                                <span class="label-input100">Réf projet</span>
                                <select name="ref" (change)="loadProjet($event)">
                                    <option *ngFor="let projet of projets">{{projet.ref}}</option>
                                </select>

                                <span class="focus-input100"></span>
                            </div>



                            <button class="btn" (click)="addProgress($event,newProjet.ref!)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <div class="progress">

                                <div class="progress-bar" role="progressbar" [style.width]="newProjet.engagement+'%'"
                                    aria-valuemin="0" aria-valuemax="100">{{newProjet.engagement}}%</div>
                            </div>
                            <button class="btn" (click)="decreaseProgress($event, newProjet.ref!)">
                                <i class="fa fa-minus" aria-hidden="true"></i></button>







                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="updateProjetPlanification()"
                            (click)="modal.close('Save click')">Save</button>
                    </div>
                </ng-template>


                <ng-template #contentAjutement let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">
                            Ajouter Ajustement Physique</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="">
                            <div class="wrap-input100 validate-input m-b-26" data-validate="prenom est requis">
                                <span class="label-input100">Réf projet</span>
                                <select name="ref" (change)="loadProjet($event)">
                                    <option *ngFor="let projet of projets">{{projet.ref}}</option>
                                </select>

                                <span class="focus-input100"></span>
                            </div>



                            <button class="btn" (click)="addProgress($event,newProjet.ref!)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <div class="progress">

                                <div class="progress-bar" role="progressbar" [style.width]="newProjet.engagement+'%'"
                                    aria-valuemin="0" aria-valuemax="100">{{newProjet.engagement}}%</div>
                            </div>
                            <button class="btn" (click)="decreaseProgress($event, newProjet.ref!)">
                                <i class="fa fa-minus" aria-hidden="true"></i></button>







                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="updateProjetAjustement()"
                            (click)="modal.close('Save click')">Save</button>
                    </div>
                </ng-template>




                <ng-template #contentRealisation let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">
                            Ajouter Réalisation Physique</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="">
                            <div class="wrap-input100 validate-input m-b-26" data-validate="prenom est requis">
                                <span class="label-input100">Réf projet</span>
                                <select name="ref" (change)="loadProjet($event)">
                                    <option *ngFor="let projet of projets">{{projet.ref}}</option>
                                </select>

                                <span class="focus-input100"></span>
                            </div>



                            <button class="btn" (click)="addProgress($event,newProjet.ref!)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <div class="progress">

                                <div class="progress-bar" role="progressbar" [style.width]="newProjet.engagement+'%'"
                                    aria-valuemin="0" aria-valuemax="100">{{newProjet.engagement}}%</div>
                            </div>
                            <button class="btn" (click)="decreaseProgress($event, newProjet.ref!)">
                                <i class="fa fa-minus" aria-hidden="true"></i></button>







                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="updateProjetRealisation()"
                            (click)="modal.close('Save click')">Save</button>
                    </div>
                </ng-template>