<div class="container" style="text-align: center;">
<div class="card o-hidden border-0 shadow-lg my-5">
<div class="card-body p-0">
<form  (ngSubmit)="updateUser(id_user ||0,newUser)">
     <div class="col-5">
         <input type="text" class="form-control form-control-user" [(ngModel)]="newUser.matricule" name="matricule"id="matricule"
                                           ><br/>
     </div>
     <div class="col-sm-6 mb-3 mb-sm-0">
        <input type="text" class="form-control form-control-user" [(ngModel)]="newUser.nom" name="nom"id="nom"
                                           ><br/>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <input type="text" class="form-control form-control-user" [(ngModel)]="newUser.prenom" name="prenom"id="prenom"
                                           ><br/>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <input type="date" class="form-control form-control-user" [(ngModel)]="newUser.datenaissance" name="date_naissance"id="date_naissance"
                                           ><br/>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <input type="text" class="form-control form-control-user" [(ngModel)]="newUser.email" name="email"id="email"
                                           ><br/>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <input type="text" class="form-control form-control-user" [(ngModel)]="newUser.telephone" name="telephone"id="telephone"
                                           ><br/>
    </div>
    <div class="col-sm-6 mb-3 mb-sm-0">
        <input type="text" class="form-control form-control-user" [(ngModel)]="newUser.nom_structure" name="nom_structure"id="nom_structure"
                                          ><br/>
    </div>

<div class="col-sm-6 mb-3 mb-sm-0">
    <input type="text" class="form-control form-control-user" [(ngModel)]="newUser.roles" name="role"id="role"
                                      ><br/>
</div>
    
    <button 
    type="submit"  class="btn btn-primary ">
        Sauvegarder
    </button>
    </form>
</div>
</div>
</div>

