<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Projets</title>

    <!-- Custom fonts for this template -->
    <link href="/src/app/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/src/app/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->

        <!-- Sidebar - Brand -->


        <!-- Divider -->

        <!-- Nav Item - Dashboard -->




        <!-- Divider -->



        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
           
<nav id="main_nav" class="navbar navbar-expand-lg navbar-light bg-white shadow">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand h1" href="index.html">
            <i class='bx bx-buildings bx-sm text-dark'></i>
            <span class="text-dark h4">CNI</span> <span class="text-primary h4">TUNISIE</span>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
            <div class="flex-fill mx-xl-3 mb-2">
                <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="/register">Création compte utilisateur</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="/admin">Liste utilisateurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" href="/projets">Liste projets</a>
                    </li>
                    
                    
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary rounded-pill px-3" (click)="deconnexion()">Déconnexion</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <a class="nav-link" href="#"><i class='bx bx-bell bx-sm bx-tada-hover text-primary'></i></a>
                <a class="nav-link" href="#"><i class='bx bx-cog bx-sm text-primary'></i></a>
                {{loggedinUser.prenom}} {{loggedinUser.nom}}  <i class="fa fa-user" aria-hidden="true"></i>
            </div>
          
            
        </div>
    </div>
</nav>
                    <!-- Topbar Search -->
                    

                    <!-- Topbar Navbar -->
                   

                  
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!--<h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>
                    -->
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Liste des utilisateurs </h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <form
                                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
                                    name="key"  placeholder="Rechercher..."
                                        aria-label="Recherche" aria-describedby="basic-addon2">
                                        <!--[(ngModel)]="nom" [(ngModelChange)]="Search()"-->
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search" ></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                          <th>id</th>
                                            <th>Matricule</th>
                                            <th>Nom </th>
                                            <th>Prénom</th>
                                            <th>Date de naissance</th>
                                            <th>Email</th>
                                            <th>Téléphone</th>
                                            <th>Structure</th>
                                            <th>Profiles</th>
                                            <th>Projets</th>
                                            <th>Actions</th>
                                            
                                            
                                                   
                                                

                                        </tr>
                                    </thead>
                                    
                                    <tbody *ngFor="let user of users  " >
                                        <!--{{user | json}}-->
                                        <tr>
                                            <td>{{user.id_user}}</td>
                                            <td>{{user.matricule}}</td>
                                            <td>{{user.nom}}</td>
                                            <td>{{user.prenom}}
                                            </td>
                                            <td>{{user.datenaissance}}</td>
                                            <td>{{user.email}}</td>
                                            <td>{{user.telephone}}</td>
                                            
                                            <td>{{user.structure?.name_structure }}
                                            </td>
                                            <td>
                                                
                                                <div *ngFor="let profile of user.profiles">
                                                    {{profile.role!.name!}}<br>
                                                </div>
                                                
                                            </td>
                                            <td>
                                                <div *ngFor="let profile of user.profiles">
                                                    {{profile.projet!.ref!}}<br>
                                                </div>
                                                
                                            </td>
                                             <!-- <td>  
                                                <div class="wrap-input100 validate-input m-b-18" class="dropdown">
                        
                                                    <select [(ngModel)]="profile.profileId" multiple class="btn btn-secondary dropdown-toggle"name="pets" id="pet-select">
                                                          <option *ngFor="let profile of profiles" [value]="profiles">{{profile.projet.ref}}</option>
                                                          
                                                         
                                                      </select>
                                              </div> </td>-->
                                      <td> <button type="button" (click)="updateUser(user.id_user||0)"  class="btn btn-outline-success my-2 my-sm-0"> 
                                        Modifier</button>
                                                  

                                         <button type="button"  class="btn btn-outline-danger" (click)="supprimerUser(user.id_user||0)"> 
                                            Supprimer</button>
                                            <button type="button"  class="btn btn-outline-info" (click)="userDetail(user.id_user||0)"> 
                                                View</button></td>
                                               
                                                  
                                                  <hr>
                                                  
                                                 
                                            </tr>
                                        
                                </tbody>
                                </table>

                                <!--<div class="col-sm-12 col-md-8 col-lg-12"><br />
                                    <form action="" method="POST">
                                        <fieldset>
                                            <h3>Fiche utilisateur </h3>
                                            <div class="col-sm-2">
                                                <label for="exampleInputEmail1" class="form-label">Matricule</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp">
                                            </div>

                                            <div class="col-sm-2">
                                                <label for="exampleInputPassword1" class="form-label">Mot de
                                                    passe</label>
                                                <input type="password" class="form-control" id="exampleInputPassword1">
                                            </div>
                                            <div class="mb-3 form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                <label class="form-check-label"
                                                    for="exampleCheck1">Administrateur</label>
                                            </div>


                                            <form action="supprimerUser()" method="POST" class=" form-inline my-2 my-lg-0">
                                                <button type="button" href="#" class="btn btn-outline-danger"> -
                                                    Supprimer</button>
                                                    

                                            </form>
                                            <button   class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal"
                                                data-target="#exampleModal" href="#" type="submit">+ Ajouter nouveau
                                                utilisateur</button>

                                                

                                        -->

                                      

                                            <!-- /.container-fluid -->


                                            <!-- End of Main Content -->

                                            <!-- Footer -->
                                            <footer class="sticky-footer bg-white">
                                                <div class="container my-auto">
                                                    <div class="copyright text-center my-auto">
                                                        <span>Copyright Nedra &copy; 2021</span>
                                                    </div>
                                                </div>
                                            </footer>
                                            <!-- End of Footer -->


                                            <!-- End of Content Wrapper -->


                                            <!-- End of Page Wrapper -->

                                            <!-- Scroll to Top Button-->
                                            <a class="scroll-to-top rounded" href="#page-top">
                                                <i class="fas fa-angle-up"></i>
                                            </a>

                                            <!-- Logout Modal-->
                                            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Ready to
                                                                Leave?</h5>
                                                            <button class="close" type="button" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">Select "Logout" below if you are ready
                                                            to end your current session.</div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" type="button"
                                                                data-dismiss="modal">Annuler</button>
                                                            <a class="btn btn-primary" href="login.html">Déconnexion</a>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>

                                            <!-- Bootstrap core JavaScript-->
                                            <script src="vendor/jquery/jquery.min.js"></script>
                                            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

                                            <!-- Core plugin JavaScript-->
                                            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

                                            <!-- Custom scripts for all pages-->
                                            <script src="js/sb-admin-2.min.js"></script>

                                            <!-- Page level plugins -->
                                            <script src="vendor/datatables/jquery.dataTables.min.js"></script>
                                            <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

                                            <!-- Page level custom scripts -->
                                            <script src="js/demo/datatables-demo.js"></script>


