
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V15</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/assets/images"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/assets/login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/assets/login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/login/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter" >
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/assets/images/bg-01.jpg);">
					<span class="login100-form-title-1">
						Inscrivez-vous 
					</span>
				</div>
				
				<form class="login100-form validate-form"  >
					<div class="wrap-input100 validate-input m-b-26" data-validate="matricule is required">
						<span class="label-input100">Matricule</span>
						<input class="input100" type="text" name="matricule" [(ngModel)]="newUser.matricule" placeholder="Entrer matricule">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="nom is required">
						<span class="label-input100">Nom</span>
						<input class="input100" type="text" name="nom" [(ngModel)]="newUser.nom" placeholder="Entrer nom">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="prenom is required">
						<span class="label-input100">Prenom</span>
						<input class="input100" type="text" name="prenom" [(ngModel)]="newUser.prenom" placeholder="Entrer prenom">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="datenaissance is required">
						<span class="label-input100">Date de naissance</span>
						<input class="input100" type="date" name="datenaissance" [(ngModel)]="newUser.datenaissance" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="email is required">
						<span class="label-input100">Adresse mail</span>
						<input class="input100" type="email" name="email" [(ngModel)]="newUser.email" placeholder="Entrer E-mail">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="telephone is required">
						<span class="label-input100">Téléphone</span>
						<input class="input100" type="text" name="telephone" [(ngModel)]="newUser.telephone" placeholder="Entrer  numéro téléphone">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="structure is required">
						<span class="label-input100">Structure</span>
						<input class="input100" type="text" name="structure" [(ngModel)]="newUser.nom_structure" placeholder="Entrer structure">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="mdp is required">
						<span class="label-input100">Mot de passe</span>
						<input class="input100" type="password" name="mdp" [(ngModel)]="newUser.mdp" placeholder="Entrer mot de passe">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-26" data-validate="mdp is required">
						<span class="label-input100">confirme mot de passe</span>
						<input class="input100" type="password" name="mdp" [(ngModel)]="newUser.confirm_mdp" placeholder="Ré-entrer mot de passe">
						<span class="focus-input100"></span>
					</div>

					
                    <div class="wrap-input100 validate-input m-b-18" class="dropdown">
                        <!--<input type="string" class="form-control form-control-user" [(ngModel)]="roles.role" name="confirm_mdp"
                                       id="exampleRepeatPassword" placeholder="role">-->
                                       <select  class="btn btn-secondary dropdown-toggle"name="pets" id="pet-select">
                                           <option value="" *ngFor="let role of roles">Profile</option>
                                           <option value="dog">Administrateur</option>
                                           <option value="cat">Financier</option>
                                           <option value="hamster">Responsable technique</option>
                                           <option value="parrot">Responsable marché</option>
                                           <option value="spider">Chef de projet</option>
                                          
                                       </select>
                               </div>
					<div class="flex-sb-m w-full p-b-30">
						

						<div>
							<a href="#" class="txt1">
								Mot de passe oublié ?
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" href="/admin" (click)="addUser()">
							Inscription
						</button>
					</div>
                    <div class="text-center">
                        <a class="small" href="/login">Vous avez déja un compte ? Connexion!</a>
                    </div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>